@import '../../../../vendor/filament/filament/resources/css/theme.css';

.fi-sidebar {
    display: none !important;
}

.fi-main {
    margin-inline-start: 0 !important;
}

.fi-topbar nav,
.fi-topbar .fi-topbar-nav {
    display: none !important;
}

.fi-topbar {
    justify-content: center;
}
